
.media {
  display: inline-block;
  min-width: 8em;
  flex-basis: 20%;
  flex-shrink: 0;
  flex-grow: 1;
  vertical-align: top;
  position: relative;
  margin: .5em;
  padding: 0;

  + .media {

  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &__thumb {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;

    &[src=''] {
      position: relative;
      //  keep 1x1.5 AR,
      //  split padding between top & bottom so broken img icon is
      //  centered vertically and we can cover it
      height: 0;
      padding-top: 75%;
      padding-bottom: 75%;
      border: 1px solid #888;
      color: transparent;

      &:before,
      &:after {
        display: block;
        position: absolute;
        width: 100%;
      }

      &:before {
        content: ' ';
        z-index: 1;
        top: 0;
        bottom: 0;
        background-color: #444;
      }

      &:after {
        display: block;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        line-height: 1;
        margin-top: -.5em;
        font-size: 4em;
        font-family: 'Material Icons';
        content: 'movie';
        color: #aaa;
      }
    }
  }

  &__title {
    margin-top: .5em;
    color: #aaa;
  }

  &__meta {

  }

  .favourite {
    display: inline-block;
    background: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    color: inherit;
    width: 1em;
    height: 1em;

      &-true {
        color: #f66;
      }

    //  star in circle
    // border-radius: 1em;
    // color: #333;
    // &-true { background-color: gold; color: #222; }
  }

  video {
    width: 100%;
    height: auto;
  }
}
