.media {
  &--detail {
    margin-top: 2em;

    &:after {
      width: 100%;
      display: table;
      content : ' ';
      clear: both;
    }
    &__thumb {
      width: 25%;
      float: left;

      ~ * {
        float: left;
        width: 75%;
        padding-left: 2em;
        box-sizing: border-box;
      }
    }

  }

  &__meta {
    ~ * {
      width: 100%;
      padding-left: 0;
    }
  }
}
