//  Breakpoints
//  less than
@xs: 500px;
//  greater than
@sm: 600px;
@md: 900px;
@lg: 1200px;
@xl: 1800px;
@xxl: 2400px;

//  Fonts
//  minimum desired font-size
@baseFontSize: 14;


@accent: #0af;
@textColour: #aaa;
@bgColour: #444;
