@import '../../styles/_variables';
//
//  General styles
//
html {
  //  1rem = 1em = 10px
  font-size: 100%*(10/16);
}

body {
  width: 95%;
  max-width: 44em;
  margin: 0 auto;
  background: @bgColour;
  background-clip: content-box;

  font-size: 1.4em;
  line-height: 1.5;
  font-weight: lighter;
  @media (min-width : @sm) { font-size: 1.6em; }
  @media (min-width : @lg) { font-size: 1.8em; }

  color: @textColour;
}

.app {
  margin-top: 1.5em;
  @media (min-width: @md) { margin-top: 2em; }
}
