.navigation {
  display: flex;
  width: auto;
  min-width: 100%;
  margin: 0 (-1.5em*.5);
  flex-flow: row wrap;
  align-items: stretch;
  align-content: flex-start;
//  font-size: 1.5em;

  * { font-size: 1em; }
  .material-icons {
    display: inline-block;
    font-size: 1em;
    line-height: 1.5;
    height: 1.5em;

    text-align: center;
  }

  a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    height: 1.5em;
    line-height: 1.5;
    margin: .25em .25em .25em 1em;
    padding: .5em 1em;
    text-decoration: none;
    color: #aaa;
    border: 1px solid #404040;
    border-radius: .5em;
    transition: all .2s;

    &:hover {
  //    border-color: #333;
      background-color: #3f3f3f;
    }

    + a:not(.favourites) {
      &:before {
        position: absolute;
        top: 50%;
        font-size: 1.5em;
        margin-top: -.75em;
        left: -1em;
        font-family: 'Material Icons';
        content: 'chevron_right';
        opacity: .2;
      }
    }

    &.favourites { float: right; align-self: flex-end; margin-left: auto; margin-right: 1em; }

    span {
    //  display: inline-block;
      //  space between text & icon
      &:not(:last-child) { margin-right: .5em; }
      line-height: 1;
      vertical-align: text-bottom;
    }
  }

  .search-bar {
    width: 100%;
  }
}
