@import '../../styles/_variables';
.search-bar {
  position: relative;
  margin: .5em .5em 0;
  padding: 0;
  font-size: 2em;
  display: flex;
  flex-flow: row nowrap;

  &__field,
  &__button {
    font-size: 1em;
    border: none;
  }

  &__field {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    padding: .25em 2.5em .25em 1em;
    line-height: inherit;
    background-color: mix(black, @bgColour, 30%);
    color: #888;
    border-radius: .25em;

    &:focus {
      box-shadow: 0 0 8px 1px @accent;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    .search-bar & { height: auto; }
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: top;
    padding: .25em .75em;
    background-color: transparent;
    color: #888;
    border-left: 1px solid #444;
    border-radius: 0 .25em .25em 0;
  }
}
